.infobg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px 0;
    background: linear-gradient(rgb(10, 10, 10), rgb(30, 30, 30));
}

.info p {
    align-self: flex-start;
    text-align: left;
    margin: 0.5em 0;
}

.info {
    width: 1000px;
}

.club-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.logo {
    margin-left: 20px;
}

.team {
    background: linear-gradient(rgb(30, 30, 30), rgb(10, 10, 10));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 8vh;
}

.team-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.member {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 10px;
    padding: 20px 10px;
    background-color: rgb(40, 40, 40);
    border-radius: 30px;
    transition: 0.5s;
    height: 100px;
    width: 20vw;
}

.member:hover {
    box-shadow: 0 0 10px 5px rgba(255, 100, 0, 0.5);
}

.member img {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    margin: 0 10px;
    padding: 0;
}

.member div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 0;
    padding: 0;
}

.member h2 {
    font-size: 1.4em;
    margin: 0;
    font-family: 'AudioWide', sans-serif;
    text-align: left;
}

.member p {
    font-size: 1.2em;
    margin: 0;
    align-self: flex-start;
}
