.awards {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    background: url('../images/space-background.jpg');
    background-size: cover;
    height: 90vh;
    padding: 0;
}
